.Country{
    width: 30%;
    height: 550px;
    background-color: rgb(83, 192, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15%;
    border: 2px solid rgb(58, 134, 109)
}


.details{
    width: 80%;
    height: 60%;
    border-radius: 25%;
    background-color: rgb(88, 27, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail{
    width: 80%;
    height: 50%;
    border-bottom: 2px solid #FFD700;
    margin: 10px;
    flex-shrink: 1;
}

.detail:nth-of-type(3){
    border: none;
    flex-shrink: 1;
}